<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Questões</title>

<link rel="stylesheet" type="text/css" media="all"
	href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" media="all"
	href="../../css/bootstrap-fileinput.css" th:href="@{/css/bootstrap-fileinput.css}" />

<script type="text/javascript" th:src="@{/js/jquery.min.js}"
	src="js/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"
	src="js/bootstrap.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:text="${prova.turma}">1</a>
			</div>

			<div id="navbar" class="navbar-collapse collapse">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" th:text="${materia.nome}">1</a>
				</div>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" th:text="${tipoProva.nome}">1</a>
				</div>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<!-- 
					<a class="navbar-brand" href="#" th:text="${prova.anoLetivo}">1</a>
					 -->
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Sair</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">

		<h1>Questões</h1>

		<form class="form-group" enctype="multipart/form-data" action="/questaoSalvar"
			th:action="@{/questaoSalvar}" method="post">
			<input th:type="hidden" name="id" th:field="${questao.idQuestao}" />
			<input th:type="hidden" name="idProva" th:field="${questao.idProva}" />
			<div class="form-group">
				<label for="habilidade">Habilidade</label> <input type="text"
					class="form-control" id="habilidade" th:field="${questao.habilidade}" />
			</div>			
			<div class="form-group">
				<label for="questao">Questão</label> <textarea cols="200" rows="5" maxlength="2500"
					class="form-control" id="questao" th:field="${questao.questao}"></textarea>
			</div>
			

			<div class="input-group">
			  <span class="input-group-btn">
			    <span class="btn btn-default btn-file">
			      Selecione... 
			      <input id="file-upload" data-url="/upload" name="file" type="file" accept="image/x-png,image/jpeg"></input>
			    </span>
			  </span>
			  <input readonly="readonly" id="file-name" class="form-control" type="text"></input>
			</div>
			<div class="form-group blu-margin">
				<label for="legendaImagem">Legenda Imagem</label> <input type="text"
					class="form-control" id="legendaImagem" th:field="${questao.legendaImagem}" />
			</div>
			<div class="form-group blu-margin">
				<label for="dropPosicao">Posição da Imagem</label>
				<select class="form-control" th:field="${questao.posicaoImagem}"
					id="dropPosicao">
					<option value="0" th:text="Selecione"></option>
					<option th:each="pos : ${posicoes}" th:value="${pos.id}"
						th:text="${pos.descricao}"></option>
				</select>
			</div>			
			
		<button type="submit" class="btn btn-primary">Adicionar Imagem</button>
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Legenda</th>
						<th>Posição</th>
						<th>Nome</th>
						<th>Imagem</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="img : ${imagens}">
						<td th:text="${img.id}">1</td>
						<td th:text="${img.legenda}">Test</td>
						<td th:text="${img.posicaoFormatted}">Test</td>
						<td th:text="${img.nome}">Test</td>
						<td><img src="/dbresources/images/1" th:src="@{/dbresources/images/__${img.id}__}" 
						height="25" width="25"/></td>
						<td><a class="btn btn-info" href="/imagemDelete/1"
							th:href="@{/imagemDelete/__${img.id}__}"> <span
								class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								Excluir
						</a></td>
					</tr>
				</tbody>
			</table>			
			


			
			<button type="submit" class="btn btn-primary">Salvar</button>
			<a href="/voltarQuestao/1" th:href="@{/voltarQuestao/__${questao.idQuestao}__}" class="btn btn-danger" role="button">Cancelar</a>
			<div class="form-group">
				<label for="resposta">Resposta</label> <textarea cols="200" rows="5" maxlength="2500"
					class="form-control" id="resposta" th:field="${questao.resposta}"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Adicionar Resposta</button>
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Resposta</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="resp : ${respostas}">
						<td th:text="${resp.id}">1</td>
						<td th:text="${resp.respostaShort}">Test</td>
						<td><a class="btn btn-info" href="/respostaoDelete/1"
							th:href="@{/respostaDelete/__${resp.id}__}"> <span
								class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								Excluir
						</a></td>
					</tr>
				</tbody>
			</table>
			<div class="form-group">
				<label th:text="${mensagem}" style="color:red">1</label>
			</div>

		</form>


	</div>
	<script type="text/javascript">
	var input = document.getElementById( 'file-upload' );
	var infoArea = document.getElementById( 'file-name' );

	input.addEventListener( 'change', showFileName );

	function showFileName( event ) {
	  
	  // the change event gives us the input it occurred in 
	  var input = event.srcElement;
	  
	  // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
	  var fileName = input.files[0].name;
	  
	  // use fileName however fits your app best, i.e. add it into a div
	  infoArea.value = fileName;
	}
	</script>
</body>
</html>